@import "tailwindcss";

* {
  margin: 0;
  box-sizing: border-box;
}

@theme {
  --margin-small: 1rem;
  --padding-small: 1.3rem;
  --padding-mid: 2.3rem;
  --padding-lar: 3.3rem;

  /* Colors */
  --color-primary: ;
  --color-secondary: ;
  --color-bground1: ;
  --color-bground2: ;
  --color-txt: ;

  --spacing-header: 75px;


}

a {
  cursor: pointer;
}
